@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i|PT+Serif:400,400i,700,700i&subset=cyrillic,cyrillic-ext,latin-ext');

body {
    background: #f7f7e5;
    /* background: beige; */
    /* font-family: 'PT Serif', serif; */
    font-family: 'PT Sans', sans-serif;
    line-height: 1.3;
    color: #252525;

    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 2mm;
    max-width: 74em;
    margin: 0 auto;
}

h1, h2, h3, h4 {
    font-family: 'PT Sans', sans-serif;
    color: #151515;
}

a {
    color: #3d627a;
}
a:visited {
    color: #3d2461;/* #242a61;*/
}
a:hover {
    color: #e81c4f;
}

@media (max-width: 600px) {
    body {
        padding: 0mm 3mm;
    }
}
